@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

::after,
 ::before {
    padding: 0px;
    margin: 0px;
}

::selection {
    background: var(--theme-bg-clor);
    color: var(--tehem-text-color);
}

html {
    overscroll-behavior: none;
}

html,
body {
    width: 100%;
    height: 100%;
    position: relative;
}

body {
    background: var(--theme-bdy-color);
    font-size: 14px;
    font-family: var(--theme-font-family);
    color: var(--tehem-text-color);
}

:root {
    --theme-font-family: "Work Sans" sans-serif;
    --theme-bdy-color: #8E535A;
    --theme-bg-clor: #2F0D0F;
    --theme-land-color: #99330D;
    --theme-selection-color: #015699;
    --tehem-text-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0px;
    margin: 0px;
}

.landing-page {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overscroll-behavior: contain;
    overflow: hidden;
    z-index: 10px;
    background-color: var(--theme-land-color);
    .landing-page-content {
        width: 100%;
        max-width: 1400px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .landing-main-content {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: flex;
            align-items: center;
            justify-content: center;
            .landing-title {
                position: absolute;
                width: 100%;
                height: 100%;
                max-width: 1200px;
                max-height: 720px;
                font-size: 85px;
                font-family: var(--theme-font-family);
                font-weight: 700;
                margin-bottom: 0px;
                margin-top: 0px;
                .react {
                    position: absolute;
                    top: 40px;
                    left: 20px;
                    z-index: 2;
                }
                .ts {
                    position: absolute;
                    top: 140px;
                    right: 20px;
                    z-index: 2;
                }
                .topic {
                    position: absolute;
                    top: 300px;
                    left: 80px;
                    z-index: 2;
                }
                .learn {
                    position: absolute;
                    bottom: 48px;
                    right: 50px;
                }
            }
            .landing-image {
                position: absolute;
                width: 90%;
                max-width: 780px;
                max-height: 100%;
                object-fit: cover;
            }
            .main-menu {
                position: absolute;
                top: 20px;
                width: 100%;
                max-width: 1280px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .right-nav {
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    gap: 10px;
                    .nav-item {
                        list-style: none;
                        .nav-link {
                            border: solid 1px;
                            padding-block: 6px;
                            padding-inline: 16px;
                            border-radius: 6px;
                            background: var(--theme-bdy-color);
                            line-height: initial;
                             :hover {
                                background: var(--theme-land-color);
                                transition: all 0.3s ease-in-out;
                            }
                        }
                    }
                }
            }
        }
    }
}